<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/rating.css">

    <h1>Edit Comment</h1>

    <form action="/bookclubs/<%= club._id%>/books/<%= book._id%>/comments/<%= comment._id%>?_method=PUT" method="POST"
        class="mb-3 validated-form" novalidate>
        <div class="mb-3">
            <fieldset class="starability-basic">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="comment[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="comment[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="comment[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="comment[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="comment[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="comment[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
        <div class="mb-3">
            <label class="form-label" for="body">update Comment</label>
            <input type="text" class="form-control" id="body" name="comment[body]" value="<%= comment.body%>">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Save Changes</button>
    </form>

    <a href="/bookclubs/<%= club.id%>/books/<%= book._id%>">Back to Book</a>