<% layout('layouts/boilerplate')%>
    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <h1>Search For Books</h1>
                <form class="d-flex search" id="searchForm" action="/bookclubs/<%=id%>/search" method="POST">
                    <input class="form-control search" autocomplete=off type="text" name="search" required id="searchTerm" placeholder="Find Book...">
                    <select class="search" autocomplete=off name="select" required id="searchCategory">
                        <option>title</option>
                        <option>author</option>
                        <option>publisher</option>
                        <option>category</option>
                    </select>
                    <button class="btn btn-outline-success search" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <div class="mt-5">

                    <% for (let search of searches) {%>
                        <div class="card" id="<%=search._id%>">
                            <div class="row">
                                <div class="col-md-3 col-lg-2">
                                    <img src="<%= search.image%>" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= search.title%>
                                        </h5>
                                        <p class="card-text">
                                            Author:
                                            <%= search.author%>
                                        </p>
                                        <p class="card-text"> Publisher:
                                            <%= search.publisher%>
                                        </p>
                                        <p class="card-text">
                                            <%= search.snippet%>
                                        </p>


                                        <form action="/bookclubs/<%= id%>/books" method="POST">

                                            <div>
                                                <input class="form-control-plaintext" type="hidden" id="title" name="book[title]" value="<%= search.title%>">
                                            </div>
                                            <div>
                                                <input class="form-control-plaintext" type="hidden" id="author" name="book[author]" value="<%= search.author%>">
                                            </div>
                                            <div>
                                                <input class="form-control-plaintext" type="hidden" id="snippet" name="book[snippet]" value="<%= search.snippet%>">
                                            </div>
                                            <div>
                                                <input class="form-control-plaintext" type="hidden" id="author" name="book[publisher]" value="<%= search.publisher%>">
                                            </div>
                                            <div>
                                                <input class="form-control-plaintext" type="hidden" id="image" name="book[image]" value="<%= search.image%>">
                                            </div>
                                            <div>
                                                <input class="form-control-plaintext" type="hidden" id="image" name="book[category]" value="<%= search.category%>">
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn secondaryBtn active" type="submit">Add To Book Club</button>
                                            </div>
                                            <div>

                                            </div>
                                        </form>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
        </div>
    </div>