<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/rating.css">
    <div class="container notifications">
        <h2 class="mt-3 mb-0">Notifications</h2>
        <hr class="mt-1">
        <% if(!user.notifications.length && !user.friendRequestsRecieved.length && !user.invites.length) {%>
            <h5>No new notifications</h5>
            <% } if( user.friendRequestsRecieved.length) {%>
                <% for (let request of user.friendRequestsRecieved) {%>
                    <form action="/addfriend" method="POST" class="" novalidate>
                        <div class="row mb-3">

                            <div class="col notification-picture me-auto pe-0">
                                <img class="rounded-circle img-fluid friend-profile-picture d-inline me-3" src="<%= request.profilePicture.url %>" alt="">
                            </div>
                            <div class="col px-0">
                                <p class="d-inline">
                                    <%= request.username %> wants to be your friend
                                </p>
                                <input class="form-control-plaintext" type="hidden" id="friend" name="friend" value="<%= request.id%>">
                            </div>

                            <div class="text-end col notification-buttons mb-3 ps-0">
                                <button class="d-inline btn secondaryBtn active">Accept</button>
                                <button class="d-inline btn secondaryBtn" type="submit" formaction="/declinefriendrequest">Reject</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <% }} if( user.invites.length) {%>
                        <% for (let invite of user.invites) {%>
                            <form action="/joinclub" method="POST" class="" novalidate>
                                <div class="row mb-3">
                                    <div class="col notification-picture me-auto pe-0">
                                        <img class="rounded-circle img-fluid friend-profile-picture d-inline me-3" src="<%= invite.admin.profilePicture.url %>" alt="">
                                    </div>
                                    <div class="col px-0">
                                        <p class="d-inline">
                                            <%= invite.admin.username %> has invited you to join <b>
                                                    <%= invite.name %>
                                                </b>
                                        </p>
                                        <input class="form-control-plaintext" type="hidden" id="club" name="club" value="<%= invite.id%>">
                                    </div>
                                    <div class="text-end col notification-buttons mb-3 ps-0">
                                        <button class=" btn secondaryBtn active">Join</button>
                                        <button class=" btn secondaryBtn" type="submit" formaction="/rejectclub">Reject</button>
                                    </div>
                                </div>
                            </form>
                            <% } } if(user.notifications.length) { %>
                                <% for (let notification of user.notifications) {%>
                                    <form class="d-inline" action="/notifications/<%= notification._id%>?_method=DELETE" method="POST">


                                        <% if (notification.club) { %>
                                            <div class="row mb-3">
                                                <div class="col notification-picture me-auto pe-0">

                                                    <img class="rounded-circle img-fluid friend-profile-picture d-inline me-3" src="<%= notification.sender.profilePicture.url %>" alt="">
                                                </div>


                                                <% if (notification.reply) {%>
                                                    <div class="col px-0">

                                                        <p class="d-inline">
                                                            <%= notification.sender.username %> Replied to your comment on <%= notification.comment.book.title %> at <%= notification.comment.bookclub.name%>:
                                                        </p>
                                                        <p class="text-truncate-5">
                                                            "<%= notification.reply.body %>"
                                                        </p>
                                                    </div>

                                                    <div class="text-end col notification-buttons mb-3 ps-0">
                                                        <button class=" btn secondaryBtn active">View</button>
                                                        <button class=" btn secondaryBtn" type="submit" formaction="/rejectclub">Clear</button>
                                                    </div>


                                                    <% } else if (notification.comment) { %>
                                                        <div class="col px-0">

                                                            <p class="d-inline">
                                                                <%= notification.sender.username %> Commented on <%= notification.comment.book.title %> at <%= notification.comment.bookclub.name%>:
                                                            </p>
                                                            <p class="text-truncate-5">
                                                                "<%= notification.comment.body %>"
                                                            </p>
                                                        </div>
                                                        <div class="text-end col notification-buttons mb-3 ps-0">
                                                            <button class=" btn secondaryBtn active">View</button>
                                                            <button class=" btn secondaryBtn" type="submit" formaction="/rejectclub">Clear</button>
                                                        </div>
                                            </div>



                                            <% }} else if (notification.comment) { %>
                                                <div class="row mb-3">
                                                    <div class="col notification-picture me-auto pe-0">
                                                        <img class="rounded-circle img-fluid friend-profile-picture d-inline me-3" src="<%= notification.sender.profilePicture.url %>" alt="">
                                                    </div>

                                                    <div class="col px-0">

                                                        <p class="d-inline">
                                                            <%= notification.sender.username %> Commented on your post:
                                                        </p>
                                                        <p class="text-truncate-5">
                                                            "<%= notification.comment.body %>"
                                                        </p>
                                                    </div>
                                                    <div class="text-end col notification-buttons mb-3 ps-0">
                                                        <button class=" btn secondaryBtn active">View</button>
                                                        <button class=" btn secondaryBtn" type="submit" formaction="/rejectclub">Clear</button>
                                                    </div>
                                                </div>
                                                <% } else if (notification.reply ) {%>
                                                    <div class="row mb-3">
                                                        <div class="col notification-picture me-auto pe-0">
                                                            <img class="rounded-circle img-fluid friend-profile-picture d-inline me-3" src="<%= notification.sender.profilePicture.url %>" alt="">
                                                        </div>

                                                        <div class="col px-0">

                                                            <p class="d-inline">
                                                                <%= notification.sender.username %> Replied to your post:
                                                            </p>
                                                            <p class="text-truncate-5">
                                                                "<%= notification.reply.body %>"
                                                            </p>
                                                            <p>
                                                                <%=notification.reply.comment._id%>
                                                            </p>
                                                        </div>
                                                        <div class="text-end col notification-buttons mb-3 ps-0">
                                                            <button class=" btn secondaryBtn active">View</button>
                                                            <button class=" btn secondaryBtn" type="submit" formaction="/rejectclub">Clear</button>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                        <% } %>
                                                            <% } %>
    </div>